body {
  direction: rtl !important;
  background: hsla(210, 20%, 90%, 1);
  font-family: "Open Sans", sans-serif;
}
.card h5 {
  color: #2b3041;
  font-weight: 700;
  font-size: 1.2em;
  letter-spacing: 0.04em;
  margin: 0.4em 0 0 0;
  text-transform: uppercase;
}
.form-label {
  margin-bottom: 0;
}

.row {
  align-items: center;
}
h1,
h2,
h3,
h5 {
  margin: 0;
}

.header {
  text-align: center;
  margin-bottom: 60px;
}

.header h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
  margin-bottom: 0.2em;
  line-height: 1.2;
  color: #222;
}

.header h3 {
  font-weight: 400;
  color: #555;
  width: 30em;
}

.cards {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.modal.show .modal-dialog {
  height: 100%;
  transform: none;
}
.card {
  background: #fff;
  width: 90%;
  border-radius: 0.6em;
  margin: 0.4em;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3),
    0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
  transition: all ease 200ms;
}
.card-text {
  margin-top: 15px;
}
.card:hover {
  transform: scale(1.03);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
    0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.card-title h5 {
  font-family: "Secular One", sans-serif;
  border-radius: 0.6em;
  font-weight: 470;
  height: 40px;
  margin-bottom: 0.5rem;
  overflow: hidden;
  cursor: pointer;
  transition: all ease 200ms;
}

.h5:hover {
  transform: scale(1.02);
  font-weight: 540;
  box-shadow: 0 13px 40px -5px rgba(117, 117, 202, 0.12), 0 8px 32px -8px hsla(0, 12%, 55%, 0.14),
    0 -6px 32px -6px hsla(0, 21%, 14%, 0.02);
}
.card img {
  width: 100%;
  object-fit: cover;
}

.card h2 {
  color: #222;
  margin-top: -0.2em;
  line-height: 1.4;
  font-size: 1.3em;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  transition: all ease-in 100ms;
}

.card p {
  color: #777;
}

.bg-light {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: calc(6.375rem - 1px);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  background: rgb(255, 255, 255);
  padding-inline-start: var(--side-padding);
  padding-inline-end: var(--side-padding);
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role="tooltip"].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup="tooltip"].popup-overlay {
  background: transparent;
}
.card-body {
  direction: rtl;
  min-height: 96px;
  padding: 5px;
}
.modal.show .modal-dialog {
  height: 90%;
  transform: none;
}
.modal-content {
  display: flex;
  flex-direction: column;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}
.modal-header .btn-close {
  padding: 0.5rem 0.5rem;
  margin-left: 0 px;
  margin: -0.5rem -0.5rem -0.5rem;
}
body {
  direction: rtl;
  text-align: center;
}
#welcome {
  padding: "10px";
  font-size: "17px";
  border-radius: "9px";
  margin: "7px";
  color: "black";
  border-radius: "9px";
  background-color: "#d6dfe4";
}
h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Arial";
  letter-spacing: 1px;
  margin: 45px 0px 15px 0px;
}
small {
  width: 100%;
  float: left;
  text-align: center;
  font-family: "Arial";
  letter-spacing: 0.5px;
  color: gray;
}
.form-control {
  height: 100%;
  width: 98%;
  margin: 1px;
}
input {
  width: 90%;
  box-sizing: border-box;
  margin: 25px auto;
  padding: 8px 10px;
  line-height: 40px;
  box-shadow: 3px 0px 15px 1px rgba(0, 0, 0, 0.1);
  border: 13px solid #967e76;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.3px;
}
.btn-solid {
  margin-bottom: 8px;
}
body {
  font-family: "Secular One", sans-serif;
  font-weight: 900;
}
button {
  font-family: "Secular One", sans-serif;
}
#outlined-basic {
  border-radius: 108px;
}
.categoryIcon {
  background-color: transparent;
  transition: 0.3s;
  width: 42px !important;
  padding: 5px;
  margin: 2px;
}
#filtersTitle {
  grid-column-end: 4;
  grid-column-start: 1;
  height: 7px;
  margin-top: 25px;
  font-size: 1.3rem;
}
.categoryFilter {
  background-color: #fff;
  border: 1px solid #bdbdbd;
  border-radius: 9px;
  display: grid;
  grid-template-columns: auto auto auto;
  height: 330px;
  margin: 10px;
  position: fixed;
  width: 223px;
  margin-top: 22px;
}
.categoryIcon:hover {
  background-color: #666;
  border-radius: 70%;
  animation: pulse 1s infinite;
  transition: 0.3s;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
h4 {
  font-size: 1rem;
}
.carouselDuo {
  margin-bottom: 56px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
#submitBtn {
  background-color: #7f95a3bd;
  padding: 8px;
  font-size: 17px;
  border-radius: 9px;
  font-weight: bold;
  margin: 7px;
}
.btn:disabled,
fieldset:disabled .btn {
  pointer-events: none;
  background-color: rgb(55 97 115 / 17%);
  color: rgb(34 55 64);
  opacity: 0.65;
}

.popupContainer {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(51, 51, 51, 0.733);
  z-index: 2;
  top: 0;
  padding-top: 100px;
  .popup {
    display: block;
    width: 39.6875vw;
    height: 33.875vw;
    background-color: aliceblue;
    border-radius: 40px;
    position: fixed;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 1.2vw;
    margin-left: 30vw;
    .btn-close {
      width: 40px;
      height: 40px;
    }
    .imgPopupContainer {
      display: flex;
      width: 12.050156739800002vw;
      height: 12.050156739800002vw;
      border-radius: 50%;
      background-color: #333;
      margin: 0 auto;
      .imgPopup {
        margin: 0 auto;
        padding-top: 30px;
        width: 11.050156739800002vw;
        height: 11.050156739800002vw;
      }
    }
    .weightPopup {
      font-family: "Gilda Display", serif;
    }
    .statsPopup {
      display: flex;
    }
  }
}
.logo {
  padding: 7px;
  height: 66px;
}
.addNote {
  display: flex;
  justify-content: center;
}
.restaurantDisplay {
  margin-right: 286px;
  margin-top: 40px;
  height: min-content;
  width: calc(100vw - 344px);
}
.RestaurantCarousel {
  width: 100%;
}
.resaturantsCategory {
  row-gap: 2vh;
  display: grid;
  gap: 2vh;
  grid-row-gap: 5vh;
  grid-template-columns: auto auto auto;
}
.dishImg {
  flex-grow: 1;
}
.dishMain {
  height: 100%;
  flex-grow: 2;
}
@media only screen and (max-width: 790px) {
  .categoryIcon {
    height: 4vw !important;
    width: 4vw !important;
    padding: 0px;
  }
  .dishsContainer {
    margin-left: 11vw;
  }
  .mb-3 {
    width: 100% !important;

    height: 125px;

    direction: ltr !important;
  }
  .modal-content {
    width: 80vw;
    margin: 0 auto;
    height: fit-content;
  }
  .modal.show .modal-dialog {
    height: 100%;
    transform: none;
  }
  .slick-initialized .slick-slide {
    width: 183px !important;
  }
  .row {
    height: 100%;
  }
  .inCard {
    overflow: hidden;
    border-radius: 0.5rem;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 6%) 0px 0px 0.125rem 0px, rgb(0 0 0 / 12%) 0px 0.125rem 0.125rem 0px;
    transition: box-shadow 0.3s cubic-bezier(0.45, 0, 0.55, 1) 0s, background 100ms ease-out 0s;
  }
  .sliderCardContainer {
    margin-left: 20px;
  }
  .card img {
    width: 100%;
    object-fit: cover;
    height: 93px;
  }
  .restaurantDisplay {
    width: 92vw;
    margin-right: 7vw;

    height: min-content;
  }
  .card-title {
    font-feature-settings: "kern";
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-style: normal;
    font-stretch: normal;
    text-transform: none;
    font-weight: 500;
  }
  .card-text {
    max-width: 307px;
    margin: 4px;

    font-feature-settings: "kern";
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 0.75rem;
    line-height: 1rem;
    font-style: normal;
    font-stretch: normal;
    text-transform: none;
    font-weight: 400;
    white-space: pre-line;
  }
  .mainPage {
    background-color: rgba(198, 209, 216, 0.3803921569);
    width: 100%;
    display: block !important;
    gap: 54px;
  }
  .card-body {
    height: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    white-space: nowrap;
    padding: 1rem;
    position: relative;
    padding: 5px;
  }
  .cardFooter {
    font-size: 0.75rem;
    line-height: 1rem;
    font-style: normal;
    font-stretch: normal;
    height: 2rem;
    border-top: 0.0625rem dashed rgba(32, 33, 37, 0.12);
    color: rgba(32, 33, 37, 0.64);
    padding: 0px 1rem;
    top: 0px;
    left: 0px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top: 0.0925rem dashed rgba(32, 33, 37, 0.282);
  }
  .cardMedium {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    align-items: stretch;
    overflow: hidden;
  }
  .slick-slider .slick-list,
  .slick-slider .slick-track {
    width: 100vw;
  }
  .slick-prev {
    display: none !important;
  }
  .slick-next {
    display: none !important;
  }
  .card {
    width: 165px;
    min-width: 165px;
    margin-inline-end: 0.5rem;
    scroll-snap-align: start;
  }
}

@media only screen and (max-width: 620px) {
  .resaturantsCategory {
    row-gap: 2vh;
    display: grid;
    gap: 2vh;
    grid-row-gap: 5vh;
    grid-template-columns: auto auto;
  }
}
@media only screen and (min-width: 1200px) {
  .bg-white {
    height: 77px;
  }
  h4 {
    font-size: 1rem;
  }
  .resaturantsCategory {
    row-gap: 2vh;
    display: grid;
    gap: 2vh;
    grid-row-gap: 5vh;
    grid-template-columns: auto auto auto auto;
  }
  .modal-header {
    padding: 8px;
  }
}
.mainPage {
  background-color: #c6d1d861;
  width: 100%;
  display: flex;

  gap: 54px;
}
.MultiCarousel {
  float: left;
  overflow: hidden;
  padding: 15px;
  width: 100%;
  position: relative;
}
.MultiCarousel .MultiCarousel-inner {
  transition: 1s ease all;
  float: left;
}
.MultiCarousel .MultiCarousel-inner .item {
  float: left;
}
.MultiCarousel .MultiCarousel-inner .item > div {
  text-align: center;
  padding: 10px;
  margin: 10px;
  background: #f1f1f1;
  color: #666;
}
.MultiCarousel .leftLst,
.MultiCarousel .rightLst {
  position: absolute;
  border-radius: 50%;
  top: calc(50% - 20px);
}
.MultiCarousel .leftLst {
  left: 0;
}
.MultiCarousel .rightLst {
  right: 0;
}

.MultiCarousel .leftLst.over,
.MultiCarousel .rightLst.over {
  pointer-events: none;
  background: #ccc;
}
#btn {
  padding: 8px;
  font-size: 17px;
  border-radius: 9px;
  font-weight: bold;
  margin: 7px;
}
.css-hgkgee-MuiInputBase-root-MuiOutlinedInput-root {
  background-color: rgb(255, 255, 255);
}
#img-empty {
  width: 210px;
}
.back {
  width: 100%;
  height: 800px;
}
.tags {
  color: rgb(116, 116, 116);
}
.mainInput {
  background-size: cover;
  width: 100%;
  height: 600px;
  background-image: url("https://as2.ftcdn.net/v2/jpg/02/32/48/35/1000_F_232483527_B9KZazS7LsGexMg0icM1gUNghIcqJDvL.jpg");
}
#largecarsoule {
  width: 1200px;
  height: 800px;
}
.categoryDuo {
  height: 47px;
  width: 75px;
}
.card-img-top {
  width: 100%;
  height: 160px;
}
.mb-3 {
  width: 50vw;
  direction: ltr !important;
}
.card-img {
  border-radius: 12px solid white;
}
.cardFooter {
  border-top: 0.0925rem dashed rgba(32, 33, 37, 0.282);
}
.img-empty {
  width: 100px;
}
